{% extends 'base.html' %}

{% block content %}
    <h2>{{ actionTitle }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=5) }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=30) }}
            <!-- Show in ul; smaller, below -->
            {% for error in form.name.errors %}
                <br><small><span style="color: red;">[{{ error }}]</span></small>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=5) }}
        </p>
        <p>
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=10) }}
            {% for error in form.isbn.errors %}
                <br><small><span style="color: red;">[{{ error }}]</span></small>
            {% endfor %}
        </p>    
        <p>
            {{ form.obsolete.label }}<br>
            {{ form.obsolete  }}
        </p>
        <p>
            {{ form.bookType.label }}<br>
            {{ form.bookType  }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}